<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flats Home Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <main>
        <nav>
            <a href="pages/insert">insert new flat</a>
            <a href="pages/delete">delete flat</a>
        </nav>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>street name</th>
                        <th>street number</th>
                        <th>city</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                    <!-- <tr>
                        <tr>
                            <td>d4c02790-603a-4072-9953-da231c57957e</td>
                            <td>Hertzel</td>
                            <td>42</td>
                            <td>Tel-Aviv</td>
                        </tr>
                        <tr>
                            <td>e3b8b3a6-275d-4095-bb38-db051aba5ad4</td>
                            <td>Ben Gurion</td>
                            <td>666</td>
                            <td>Jerusalem</td>
                        </tr>
                    </tr> -->
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>